@import 'src/styles/config.scss';

.Container {
  min-height: 100vh;
  padding: spacing() spacing() rem(70);
  display: flex;
  justify-content: center;
}

.Content {
  max-width: rem(980);
}

.Compact {
  height: 100vh;
  align-items: center;

  .Content {
    max-width: rem(500);
  }
}